[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.16"

[scripts]
test = "python -m pytest ../tests"
run-test = "zsh -c 'cd src && pipenv run test'"
