[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tf-nightly = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[scripts]
test = "python -m pytest ../tests"
run-test = "zsh -c 'cd src && pipenv run test'"
